name: CI Backend
on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/ci-backend.yml"
  pull_request:
    paths:
      - "backend/**"

jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Grant Gradle permissions
        run: chmod +x gradlew || true
      - name: Build & Test
        run: ./gradlew clean test bootJar --stacktrace --info --warning-mode=all
